.board {
  display: flex;

  &__content {
    display: flex;

    &--left {
      flex: 1;
      height: calc(100vh - 200px);
      overflow: scroll;
      background-color: #e4eef1;
    }

    &--right {
      flex: 2;
      padding: 10px;
      height: calc(100vh - 200px);
      overflow: scroll;
    }
  }
}
